
.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    column-gap: 15px;
    row-gap: 20px;
    justify-content: center;
        margin-top: 30px;
    
}

li {
  list-style-type: none;
}