.contenedor-detalles{
    display: flex;
    width: 70%;
    
    justify-self: center;
    margin-top: 30px;
    border-radius: 40px;
    overflow: hidden;
    border: 4px solid rgb(0, 132, 255);
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.contenedor-detalles img {
  vertical-align: top;
  border-right: 4px solid rgb(0, 132, 255);
}

@media screen and (max-width: 768px) {
  .contenedor-detalles {
    flex-direction: column;
    width: 95%; /* opcional, para que use más espacio en móvil */
  }

  .contenedor-detalles img {
    border-right: none; /* quitas la línea vertical */
    border-bottom: 4px solid rgb(0, 132, 255); /* pones línea abajo */
    width: 100%; /* opcional: imagen se ajusta */
  }

  .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 30px 20px;
}
}