* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgb(43, 43, 43);
}


.caja{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(20, 20, 20);
}



.espacio1{
    height: 20%;
    border-bottom: 3px solid rgb(255, 72, 0);
    color: #fff;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.espacio2{
    background-color: rgb(44, 44, 44);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
    color: #fff;
}

.espacio3{
    display: flex;
    border-top: 3px solid rgb(255, 72, 0);
    height: 30%;
    justify-content: space-evenly;
    align-items: center;
}

.ejercicio{
    border: 3px solid rgb(255, 72, 0);
    border-radius: 30px;
    display: flex;
    width: 20%;
    height: 40%;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    transition: 0.1s all;
}

.ejercicio:hover{
    background-color: rgb(255, 72, 0);
    transform: scale(1.2);
    cursor: pointer;
}

.ejercicio:active{
    background-color: rgb(20, 20, 20);
    transform: scale(1.25);
    cursor: pointer;
}

.botonInput{
    width: 50%;
    background-color: rgb(255, 72, 0);
    border-radius: 30px;
    border: 2px solid #000;
    padding: 5px;
    transition: 0.1s all;
}

.botonInput:hover{
    color: #fff;
    transform: scale(1.1);
    cursor: pointer;
}

.botonInput:active{
    color: #000;
    background-color: rgb(255, 255, 255);
    transform: scale(1.25);
    cursor: pointer;
}